.nav {
	width: 100%;
	height: 30px;
	background-color: rgb(13, 13, 13);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;

	a {
		border: 1px solid transparent;
		font-weight: bold;
		color: white;
		text-decoration: none;
		padding: 5px;
		padding-top: 3px;
		border-radius: 2px;
		transition: all 100ms linear;

		&:hover {
			box-shadow: 0px 0px 25px -10px #9f9f9f;
		}
	}

	div {
		.nav-overview {
			margin-top: 3px;
			margin-left: 30px;
			width: 300px;
			a {
				background-color: #0f9f5f;

				&:hover {
					background-color: #10b374;
					border: 1px solid #61ffc2;
				}
			}
		}

		.nav-info {
			p {
				font-weight: bold;
				font-size: 15pt;
			}

			.text-positive {
				color: #0f9f5f;
			}

			.text-negative {
				color: #ff0000;
			}
		}

		.working-hours {
			height: 100%;
			justify-items: center;

			small {
				display: block;
				height: 10px;
				width: 150px;
				margin-top: 0px;
				line-height: 12px;
				font-size: 9pt;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				font-weight: bold;
				color: #0f9f5f;
			}

			.working-hours-input-block {
				display: block;
				width: 150px;
				margin-left: auto;
				margin-right: auto;

				.working-hours-input-container {
					display: flex;
					height: 100%;
					justify-items: center;
					button {
						background-color: #0f9f5f;
						border: 2px solid transparent;
						font-weight: bold;
						font-size: 25pt;
						color: white;
						text-decoration: none;
						width: 25px;
						height: 25px;
						transition: all 100ms linear;
						cursor: pointer;
						text-align: center;

						&:hover {
							background-color: #10b374;
							border: 2px solid #61ffc2;
							box-shadow: 0px 0px 25px -10px #9f9f9f;
						}
					}

					#workingHoursBtnPlus {
						line-height: 18px;
					}

					#workingHoursBtnMinus p {
						// Fucky weil ein minus nicht genau in er mitte ist vertikal.......... :/
						font-size: 30pt;
						line-height: 10px;
						padding-bottom: 5px;
						font-family: Verdana, Geneva, Tahoma, sans-serif;
						vertical-align: middle;
					}

					input {
						width: calc(100% - 25px * 2);
						height: 23px;
						border: 1px solid #0f9f5f;
						text-align: center;
						font-size: 15pt;
						background-color: #b1dac8;
						outline: 0;
						transition: all 100ms linear;
						-moz-appearance: textfield;

						&:hover {
							border: 1px solid #10b374;
							box-shadow: 0px 0px 25px -10px #9f9f9f;
						}

						&::-webkit-outer-spin-button,
						&::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}
					}
				}
			}
		}
	}

	.month-navigation {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		width: 30%;

		div {
			background-color: transparent;
			width: 30px;
			height: 30px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			cursor: pointer;
			transition: all 50ms linear;
			background-repeat: no-repeat;
			background-position: 0 0;
			filter: brightness(0.6);

			&:hover {
				filter: brightness(1);
			}
		}

		.nav-arrows-previous {
			transform: rotate(180deg);
		}

		h3 {
			text-align: center;
			padding-bottom: 10px;
		}
	}
	.nav-account {
		display: flex;
		justify-content: flex-end;
		width: 300px;
		p {
			margin-left: 0px;
			padding-top: 3px;
			font-size: 12pt;
			font-weight: bold;
			color: #0f9f5f;
		}
		.logout-a {
			margin-left: 20px;
			background-color: #9f0f0f;
			margin-bottom: 3px;

			&:hover {
				background-color: #e62f2f;
				border: 1px solid #f07a7a;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.nav {
		height: 60px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
